<!-- All code given in all html files given by CS50 -->
{% extends "layout.html" %} {% block title %} Buy shares {% endblock %} {% block
main %}
<h1>Buy shares</h1>
<form action="/buy" method="post">
  <label for="symbol">Symbol:</label>
  <input type="text" name="symbol" id="symbol" placeholder="Stock name" />
  <br />
  <label for="shares">Number of shares:</label>
  <input type="text" name="shares" id="shares" placeholder="Number of shares" />
  <br />
  <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
</form>
{% endblock %}
